footer.footer
	.container.pt-3
		.row.pic.d-flex
			.col.d-flex.justify-content-center
				a.footer-logo-link.footer-inline-block(href='/')
					img(src='/img/logo2.png' alt='logo')
		.row.d-flex.justify-content-center.text-center
			.col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
				h5.footer-h PRODUKTY
				ul.footer-list.w-list-unstyled.text-center(role='list')
					li.list-item
						a.footer-link(href='#') Mapy
					li
						a.footer-link(href='#') Navigácia
					li
						a.footer-link(href='#') Hľadať
					li
						a.footer-link(href='#') O nás
					li
						a.footer-link(href='#') Vision SDK
					li
						a.footer-link(href='#') Home
					li
						a.footer-link(href='#') Cenník
			.col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
				h5.footer-h PLATFORMY
				ul.footer-list.w-list-unstyled(role='list')
					li
						a.footer-link(href='#') Web
					li
						a.footer-link(href='#') Mobil
					li
						a.footer-link(href='#') VR
					li
						a.footer-link(href='#') Tablet
			.col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
				h5.footer-h PODPORA
				ul.footer-list.w-list-unstyled.pb-3(role='list')
					li
						a.footer-link(href='#') Dokumentácia
						a.footer-link(href='#') Platená podpora
					li
						a.footer-link(href='#') Poradenie
						a.footer-link(href='#') Pomoc
			.col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
				h5.footer-h Spoločnosť
				ul.footer-list.w-list-unstyled(role='list')
					li
						a.footer-link(href='#') O nás
					li
						a.footer-link(href='#') Zákazníci
					li
						a.footer-link(href='#') Sponzori
					li
						a.footer-link(href='#') Reklama
					li
						a.footer-link(href='#') Komunita
					li
						a.footer-link(href='#') Kontakt
			.col-12.col-sm-5.col-md-2.d-sm-block.justify-content-center.mb-5.mb-sm-4
				h5.footer-h Ostatné
				ul.footer-list.w-list-unstyled(role='list')
					li
						a.footer-link(href='#') Relax
					li
						a.footer-link(href='#') Wellness
					li
						a.footer-link(href='#') Logistika
					li
						a.footer-link(href='#') Športové strediská
					li
						a.footer-link(href='#') Boxerské ringy
					li
						a.footer-link(href='#') Reštaurácie
					li
						a.footer-link(href='#') Sauny
					li
						a.footer-link(href='#') Udalosti
					li
						a.footer-link(href='#') Blog
		.row.justify-content-center.text-center.align-items-center
			.col-12.mb-3.col-lg-4
				a.footer-link.bottom-link(style='font-weight:normal;font-size:large' href='#')
					| Zmluvné
					| podmienky
				br
				a.footer-link.bottom-link(style='font-weight:normal;font-size:large' href='#')
					| Súkromie
				a.footer-link.bottom-link(style='font-weight:normal;font-size:large' href='#')
					| Bezpečnosť
				br
			.col-12.mb-3.col-lg-4.names
				div(style='font-weight:normal;font-size:large')
					| Vytvoril 
					a(href='https://www.instagram.com/mato_157/')
						b
							| Martin
							| Lauff
					|                         & 
					a(href='https://www.instagram.com/_michal.belko_/')
						b Michal Belko
				br
				.mt-3.bottom-link © Star gym
				br
			.col-12.col-lg-4
				a.social.footer-inline-block.mr-3
					div(style=' width: 100% ')
						i.fab.fa-facebook-square.fa-3x
				a.social.footer-inline-block.mr-3
					div(style=' width: 100% ')
						i.fab.fa-github-square.fa-3x
				a.social.footer-inline-block.mr-3
					div(style=' width: 100% ')
						i.fab.fa-linkedin.fa-3x
				a.social.footer-inline-block
					div(style=' width: 100% ')
						i.fab.fa-instagram.fa-3x
