extends benefityBase

block content
  main
    h2 Benefity
    .container-fluid.mt-5
      .row
        .col-12.col-sm-6.col-xl-3
          .card.p-3.text-white.mb-5
            .card-body.align-items-center
              h5.card-title.text-center.font-weight-bold Wifi
              i.fas.fa-wifi.fa-7x
              p.card-text.text-center Bezplatné internetové wifi pripojenie pre každého
        .col-12.col-sm-6.col-xl-3
          .card.p-3.text-white.mb-5
            .card-body.align-items-center
              h5.card-title.text-center.font-weight-bold Parkovisko
              i.fas.fa-parking.fa-7x
              p.card-text.text-center
                | Parkovanie zadarmo priamo pred fitness centrom
        .col-12.col-sm-6.col-xl-3
          .card.p-3.text-white.mb-5
            .card-body.align-items-center
              h5.card-title.text-center.font-weight-bold Tréning zdarma
              i.fas.fa-gift.fa-7x
              p.card-text.text-center Možnosť odcvičit prvý tréning zdarma
        .col-12.col-sm-6.col-xl-3
          .card.p-3.text-white.mb-5
            .card-body.align-items-center
              h5.card-title.text-center.font-weight-bold Klimatizované priestory
              i.fas.fa-fan.fa-7x
              p.card-text.text-center Všetky fitká su klimatizované
