extends clenstvaBase

block content
  main
    h2 Členstvá
    .container-fluid
      .row
        .col-12.col-sm-6.col-xl-3.mb-4
          .card.border-danger.rounded
            .card-body.cervena
              .vizitka.back.vizitka-1.rounded
                .yellow
                .top.dots
                .personal-info
                  p CLASSIC Permanentka
                  p Name Surname
                .bottom.dots
                .pink
              h5.nazov.d-flex.justify-content-center.text-danger CLASSIC
              ul.vyhody.fa-ul
                li
                  span.fa-li
                    img(src='https://img.icons8.com/pastel-glyph/64/000000/clock--v2.png' style='width:auto;height:30px;')
                  | Vstupy
                  | od 6 do 24
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios-filled/50/000000/girl.png' style='\
                    width:auto;height:30px;')
                  | Workout
                  | priestor pre
                  | dámy
                li
                  span.fa-li
                    img(src='https://img.icons8.com/windows/48/000000/school-locker.png' style='width:auto;height:30px;')
                  | Malá
                  | skrinka
                li
                  span.fa-li
                    i.fas.fa-wifi
                  | Wi-fi zadarmo
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios/50/000000/bench-press--v2.png' style='\
                    width:auto;height:30px;')
                  | Najmodernejšie
                  | stroje
                  | členstva
              .container.justify-content-center
                .row
                  .col-12
                    h6
                      b 30€
                      | /mesiac
                .row.mt-3
                  .col-12.d-flex.justify-content-center
                    button.circleScaleBtn
                      span Zakúpiť
        .col-12.col-sm-6.col-xl-3.mb-4
          .card.border-4.border-successs.rounded
            .card-body.zelena
              .vizitka.back.vizitka-4.rounded
                .yellow
                .top.dots
                .personal-info
                  p Emerald permanentka
                  p Name Surname
                .bottom.dots
                .pink
              h5.nazov.d-flex.justify-content-center.text-successs EMERALD
              ul.vyhody.fa-ul
                li
                  span.fa-li
                    i.fas.fa-check
                  | Všetky benefity s
                  br
                  |                                     CLASSIC
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios-filled/50/000000/shower.png' style='width:auto;height:30px;')
                  | Sprchy
                li
                  span.fa-li
                    img(src='https://img.icons8.com/windows/48/000000/school-locker.png' style='width:auto;height:30px;')
                  | Pozastavenie
                  |                                     členstva
                li
                  span.fa-li
                    img(src='https://img.icons8.com/pastel-glyph/64/000000/hydrotherapy--v2.png' style='width:auto;height:30px;')
                  | Vírivka
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios-filled/50/000000/sauna.png' style='width:auto;height:30px;')
                  | Sauna
                  |                                     členstva
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios-filled/50/000000/school-locker.png' style='width:auto;height:30px;')
                  |                                     Veľká skrinka
              .container.justify-content-center
                .row
                  .col-12
                    h6
                      b 50€
                      | /mesiac
                .row.mt-3
                  .col-12.d-flex.justify-content-center
                    button.circleScaleBtn
                      span Zakúpiť
        .col-12.col-sm-6.col-xl-3.mb-4
          .card.border-gold.rounded
            .card-body.zlata
              .vizitka.back.vizitka-3.rounded
                .yellow
                .top.dots
                .personal-info
                  p GOLD Permanentka
                  p Name Surname
                .bottom.dots
                .pink
              h5.nazov.d-flex.justify-content-center.text-warning GOLD
              ul.vyhody.fa-ul
                li
                  span.fa-li
                    i.fas.fa-check
                  | Všetky
                  |                                     benefity s
                  |                                     EMERALD
                li
                  span.fa-li
                    img(src='https://img.icons8.com/wired/64/000000/energy-drink.png' style='width:auto;height:30px;')
                  | Iontový
                  |                                     nápoj /
                  |                                     proteinová tyčinka pri vstupe
                li
                  span.fa-li
                    img(src='https://img.icons8.com/pastel-glyph/64/000000/towel--v3.png' style='width:auto;height:30px;')
                  | Uterakový
                  |                                     Servis
                li
                  span.fa-li
                    img(src='https://img.icons8.com/pastel-glyph/64/000000/get-a-discount--v1.png' style='width:auto;height:30px;')
                  | 20%
                  |                                     zľava na
                  br
                  |                                     suplementy
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios-filled/50/000000/personal-trainer.png' style='width:auto;height:30px;')
                  | 6
                  |                                     tréningov s
                  |                                     trenérom
              .container.justify-content-center
                .row
                  .col-12
                    h6
                      b 150€
                      | /mesiac
                .row.mt-3
                  .col-12.d-flex.justify-content-center
                    button.circleScaleBtn
                      span Zakúpiť
        .col-12.col-sm-6.col-xl-3.mb-4
          .card.border-sec.rounded
            .card-body.modra
              .vizitka.back.vizitka-2.rounded
                .yellow
                .top.dots
                .personal-info
                  p DIAMOND permanentka
                  p Name Surname
                .bottom.dots
                .pink
              h5.nazov.d-flex.justify-content-center.text-sec DIAMOND
              ul.vyhody.fa-ul
                li
                  span.fa-li
                    i.fas.fa-check
                  | Všetky benefity s GOLD
                li
                  span.fa-li
                    img(src='https://img.icons8.com/ios-filled/50/000000/personal-trainer.png' style='width:auto;height:30px;')
                  | 12 tréningov s
                  |                                     trenérom
                li
                  span.fa-li
                    img(src='https://img.icons8.com/wired/64/000000/flex-biceps.png' style='width:auto;height:30px;')
                  | Testy
                  |                                     sily a
                  |                                     vytrvalosti
                li
                  span.fa-li
                    img(src='https://img.icons8.com/dotty/80/000000/bmi.png' style='width:auto;height:30px;')
                  | Meranie stavby
                  |                                     tela a
                  |                                     objemu
                li
                  span.fa-li
                    img(src='https://img.icons8.com/wired/64/000000/infinity.png' style='width:auto;height:30px;')
                  | Neobmedzené
                  |                                     využívanie
                  |                                     solária
              .container.justify-content-center
                .row
                  .col-12
                    h6
                      b 400€
                      | /rok
                .row.mt-3
                  .col-12.d-flex.justify-content-center
                    button.circleScaleBtn
                      span Zakúpiť
