extends galleryBASE

block content
  .gallery
    .container-fluid.gallery__title
      .row.justify-content-center.d-flex
        .col
          h2.gallery__title Galéria
          p.gallery__podtitle.text-center
            | Na tejto stránke sa nachádza galéria
            | nášho
            | fitness centra
    .container
      .row.d-flex.justify-content-center.justify-content-lg-between.align-content-lg-between.align-items-lg-center.mb-0.mb-lg-5
        .col-12.col-md-12.col-lg-3
          img.mx-auto.mb-3.show-modal(src='/img/gallery/gallery1.jpg' alt='galeryphoto')
          img.mx-auto.mb-3.show-modal(src='/img/gallery/gallery2.jpg' alt='galeryphoto')
        .col-12.col-md-12.col-lg-6
          img.mx-auto.mb-3.show-modal(src='/img/gallery/gallery12.jpg' alt='galeryphoto')
        .col-12.col-md-12.col-lg-3
          img.mx-auto.mb-3.show-modal(src='/img/gallery/gallery4.jpg' alt='galeryphoto')
          img.mx-auto.mb-3.show-modal(src='/img/gallery/gallery5.jpg' alt='galeryphoto')
      .row.d-flex.justify-content-center.justify-content-lg-between.align-content-lg-between.align-items-lg-center.mb-0.mb-lg-5
        .col-12.col-md-12.col-lg-5
          img.mx-auto.mb-3.d-block.show-modal(src='/img/gallery/gallery6.jpg' alt='galeryphoto')
        .col-12.col-md-12.col-lg-2
          img.mx-auto.mb-3.mb-lg-5.show-modal(src='/img/gallery/gallery7.jpg' alt='galeryphoto')
          img.mx-auto.mb-3.mb-lg-0.show-modal(src='/img/gallery/gallery8.jpg' alt='galeryphoto')
        .col-12.col-md-12.col-lg-5
          img.mx-auto.mb-3.mb-lg-0.show-modal(src='/img/gallery/gallery9.jpg' alt='galeryphoto')
      .row.d-flex.justify-content-center.justify-content-lg-between.align-content-lg-between.align-items-lg-center.mb-0.mb-lg-5
        .col-12.col-md-12.col-lg-3
          img.mx-auto.mb-3.mb-lg-5.show-modal(src='/img/gallery/gallery10.webp' alt='galeryphoto')
          img.mx-auto.mb-3.mb-lg-0.show-modal(src='/img/gallery/gallery11.jpg' alt='galeryphoto')
        .col-12.col-md-12.col-lg-6
          img.mx-auto.mb-3.mb-lg-0.show-modal(src='/img/gallery/gallery32.jpg' alt='galeryphoto')
        .col-12.col-md-12.col-lg-2
          img.mx-auto.mb-3.mb-lg-5.show-modal(src='/img/gallery/gallery13.jpg' alt='galeryphoto')
          img.mx-auto.mb-3.mb-lg-5.show-modal(src='/img/gallery/gallery14.jpg' alt='galeryphoto')
          img.mx-auto.mb-3.mb-lg-0.show-modal(src='/img/gallery/gallery15.jpg' alt='galeryphoto')
      .row.d-flex.justify-content-center.justify-content-lg-between.align-content-lg-between.align-items-lg-center.mb-0.mb-lg-5
        .col-12.col-md-12.col-lg-6
          img.mx-auto.mb-3.mb-lg-0.show-modal(src='/img/gallery/gallery16.jpg' alt='galeryphoto')
        .col-12.col-md-12.col-lg-2
          img.mx-auto.mb-3.mb-lg-5.show-modal(src='/img/gallery/gallery23.jpg' alt='galeryphoto')
          img.mx-auto.mb-3.mb-lg-5.show-modal(src='/img/gallery/gallery18.jpg' alt='galeryphoto')
          img.mx-auto.mb-3.mb-lg-0.show-modal(src='/img/gallery/gallery19.jpg' alt='galeryphoto')
        .col-12.col-md-12.col-lg-3
          img.mx-auto.mb-3.mb-lg-5.show-modal(src='/img/gallery/gallery17.jpg' alt='galeryphoto')
          img.mx-auto.mb-3.mb-lg-0.show-modal(src='/img/gallery/gallery21.jpg' alt='galeryphoto')
      .row.d-flex.justify-content-center.justify-content-lg-between.align-content-lg-between.align-items-lg-centlg.mb-0.mb-lg-5
        .col-12.col-md-12.col-lg-3
          img.mx-auto.mb-3.mb-3.mb-lg-4.show-modal(src='/img/gallery/gallery22.jpg' alt='galeryphoto')
          img.mx-auto.mb-3.mb-lg-0.show-modal(src='/img/gallery/gallery23.jpg' alt='galeryphoto')
        .col-12.col-md-12.col-lg-6
          img.mx-auto.mb-3.mb-lg-0.show-modal(src='/img/gallery/gallery28.jpg' alt='galeryphoto')
        .col-12.col-md-12.col-lg-3
          img.mx-auto.mb-3.mb-lg-4.show-modal(src='/img/gallery/gallery29.png' alt='galeryphoto')
          img.mx-auto.mb-3.mb-lg-0.show-modal(src='/img/gallery/gallery30.jpg' alt='galeryphoto')