extends homebase

block content
  section.section__carousel2.hiding
    .main-carousel(data-flickity='{"wrapAround": true, "autoPlay": false }')
      .carousel-cell.carousel-cell2
        img(src='./img/carusel-1.png' alt='fitness')
        h1.animate__bounceInLeft.animate__animated.titlecar2
          | Začni meniť svoje
          br
          |       svoje cieľe
          br
          |       hneď teraz
        .next__button.next__button2
          a.cta(href='/clenstva')
            span.btnspan Viac info
            span
              svg(width='66px' height='25px' viewBox='0 0 66 43' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                g#arrow(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                  path.one(d='M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z' fill='#FFFFFF')
                  path.two(d='M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z' fill='#FFFFFF')
                  path.three(d='M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z' fill='#FFFFFF')
      .carousel-cell.carousel-cell2
        img(src='./img/carusel-2.png' alt='workout')
        h1.animate__bounceInLeft.animate__animated.titlecar2
          | Naše fitness centrá
          br
          |       sú uplne
          br
          |       pre každého
        .next__button.next__button2
          a.cta(href='/clenstva')
            span.btnspan Viac info
            span
              svg(width='66px' height='25px' viewBox='0 0 66 43' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                g#arrow(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                  path.one(d='M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z' fill='#FFFFFF')
                  path.two(d='M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z' fill='#FFFFFF')
                  path.three(d='M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z' fill='#FFFFFF')
      .carousel-cell.carousel-cell2
        img(src='./img/carusel-3.png' alt='fitness')
        h1.animate__bounceInLeft.animate__animated.titlecar2
          | Trénuj na špičkových
          br
          |       a kvalitných
          br
          |       strojoch
        .next__button.next__button2
          a.cta(href='/clenstva')
            span.btnspan Viac info
            span
              svg(width='66px' height='25px' viewBox='0 0 66 43' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                g#arrow(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                  path.one(d='M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z' fill='#FFFFFF')
                  path.two(d='M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z' fill='#FFFFFF')
                  path.three(d='M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z' fill='#FFFFFF')
      .carousel-cell.carousel-cell2
        img(src='./img/carusel-4.jpg' alt='cardio')
        h1.animate__bounceInLeft.animate__animated.titlecar2
          | Viac ako 1000 
          br
          |       fitiek
          br
          |       vo svete
        .next__button.next__button2
          a.cta(href='/clenstva')
            span.btnspan Viac info
            span
              svg(width='66px' height='25px' viewBox='0 0 66 43' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                g#arrow(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                  path.one(d='M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z' fill='#FFFFFF')
                  path.two(d='M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z' fill='#FFFFFF')
                  path.three(d='M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z' fill='#FFFFFF')
  h1.animate__bounceInLeft.animate__animated.titlecar1
    | Náš cieľ je
    br
    |       dosiahnuť
    br
    |       ten váš
  video(autoplay='' loop='' muted='')
    source(src='./img/vid.mp4' type='video/mp4')
    |       Your browser does not support the video tag.
  .next__button.next__button1
    a.cta(href='/treneri')
      span.btnspan Viac info
      span
        svg(width='66px' height='25px' viewBox='0 0 66 43' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
          g#arrow(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
            path.one(d='M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z' fill='#FFFFFF')
            path.two(d='M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z' fill='#FFFFFF')
            path.three(d='M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z' fill='#FFFFFF')
  main
    section.podHeader.animate__fadeIn.animate__animated
      .container
        .row
          h2.section__title.text-center.hl.t.animate__fadeIn.animate__animated
            span.hl
              span.t Naše moderné fitness centrá sú pre každého
        .row.m-5.justify-content-center.justify-content-lg-start
          h3.content__title.animate__fadeIn.animate__animated
            | U nás si môžete zacvičiť v týchto priestoroch:
        .row
          .col-12.col-lg-6.mb-3.text-center.text-lg-left
            ul.podHeader__lists.operations__tab-container(style='list-style-type:none')
              li.podHeader__list
                button.podHeader__list.operations__tab.operations__tab--1.operations__tab--active(data-tab='1')
                  | Workout zona
              br
              li.podHeader__list
                button.podHeader__list.operations__tab.operations__tab--2(data-tab='2')  Cardio zóna
              br
              li.podHeader__list
                button.podHeader__list.operations__tab.operations__tab--3(data-tab='3')  Fitness zóna
              br
              li.podHeader__list
                button.podHeader__list.operations__tab.operations__tab--4(data-tab='4')  Telocvičňa
              br
              li.podHeader__list
                button.podHeader__list.operations__tab.operations__tab--5(data-tab='5')  Multifunkčné ihrisko
          .imgs__podheader.col-10.col-md-10.col-lg-6
            img.podHeader__img.podHeader__img1.operations__content.operations__content--1.operations__content--active(src='./img/machines.jpg' alt='cardio zone')
            img.podHeader__img.podHeader__img2.operations__content.operations__content--2(src='./img/cardio.jpg' alt='workout')
            img.podHeader__img.podHeader__img3.operations__content.operations__content--3(src='./img/bx_regal.jpg' alt='box regáli')
            img.podHeader__img.podHeader__img4.operations__content.operations__content--4(src='./img/happy_women.jpg' alt='happywoman')
            img.podHeader__img.podHeader__img5.operations__content.operations__content--5(src='./img/ihrisko.jpg' alt='machines')
    section.section__carousel
      .main-carousel(data-flickity='{"wrapAround": true, "autoPlay": true }')
        .carousel-cell
          img(src='./img/reception.jpg' alt='fitness')
          p
            | Viac ako 1000 fitness
            br
            |             centier po celom svete
          b
            | Budťe jeden z členov
            br
            |             nášho celosvetového fitka
          button.circleScaleBtn
            span Zistiť viac
        .carousel-cell
          img(src='./img/stroje.jpg' alt='workout')
          p
            | Trénuj na špičkových
            br
            |             profesiálnych strojoch
          b
            | Špičkové stroje so špičkovými
            br
            |             trénermi sú tu len pre vás
          button.circleScaleBtn
            span Zistiť viac
        .carousel-cell
          img(src='./img/menlifting1.jpg' alt='fitness')
          p
            | Naše fitness centrá
            br
            |             sú pre každého
          b
            | Rôzne stroje a vychytávky
            br
            |  ktoré inde nenájdete
          button.circleScaleBtn
            span Zistiť viac
        .carousel-cell
          img(src='./img/planking.png' alt='cardio')
          p
            | Každým tréningom
            br
            |             bližsie k cieľu
          b
            | Pozrite si naše fitko z pohodlia
            br
            |             vášho domova cez live kameru
          button.circleScaleBtn
            span Zistiť viac
        .carousel-cell
          img(src='./img/trainer.jpg' alt='workout')
          p
            | Začni meniť svoje
            br
            |             telo už dnes!
          b
            | Ukáž svojim blízkym
            br
            |             svoju celoživotnú formu
          button.circleScaleBtn
            span Zistiť viac
    section.section__testimonials
      .testimonials__title
        h2.section__title.text-center.hl.t
          | Millióny bodybuilderov si už teraz zjednodušujú život.
      .testimonials__content
        .testimonials__feature.testimonials__feature--1
          h4.testimonials__header Daniel H.
          p.text-center
            | Parádne fitko, milý personál, kvalitné      stroje, funkčná zóna, kardio-zóna, sprchy,
            | sauna, a to všetko za
            | bezkonkurenčnú cenu. Odporúčam všetkým, čo prepadli nadšeniu byť fit!
        .img__position--1
          img.testimonials__img(src='./img/test2.jpg')
        .testimonials__feature.testimonials__feature--2
          h4.testimonials__header Veronika B.
          p.text-center
            | Skvelý pocit, skvelá atmosféra, obrovské a priestranné, nemám čo viac povedať som
            | neskutočne spokojná,
            | ďakujem za skvelý zážitok, určite sa vidíme nabudúce!
        .img__position--2
          img.testimonials__img(src='./img/typkina.jpg')
        .testimonials__feature.testimonials__feature--3
          h4.testimonials__header Ján P.
          p.text-center
            | Perfektný prístup personálu a zároveň skvelé vybavenie. Momentálne najviac využívam
            | kardio zónu, kde
            | oceňujem veľké miesto aj na iné cviky.
        .img__position--3
          img.testimonials__img(src='./img/test4.jpg')
        .testimonials__feature.testimonials__feature--4
          h4.testimonials__header Matúš K.
          p.text-center
            | Bol som vo viacerých fit centrách v Košiciach a aj mimo Košíc a zatiaľ najlepšie fitko.
            | Tento názor so mnou
            | zdieľajú aj všetci moji známi.
        .img__position--4
          img.testimonials__img(src='./img/test8.jpg')
    section.section__newsletter
      .row.justify-content-end.align-items-center.mr-0.ml-0
        .col-12.col-xl-6.newsletter__title.pr-0
          p
            | Staň sa odoberateľom a získaj
            br
            |  tie najlepšie výhody
        .col-12.col-xl-6.newsletter_content.pr-0
          form
            input#email(type='email')
            label(for='email') Vaša emailová adresa:
            button#button Odoslať


