extends pravidlaBASE

block content
  .section__pravidla
    .pravidla__view
      .pravidla-p
        h2.section__title.pravidla__title(style='color: #ffff00;') Pravidlá
        p.pravidla__paragraphs
          | 1. 
          strong Rešpekt. 
          | Musíš rešpektovať, že je tvoj
          | stroj
          | obsadený. Ak stále trváš na tom, že tam chceš cvičiť, dohodni sa s človekom,
          br
          |  ktorý
          |                         tam
          |                         je,
          |                         že sa bude striedať.
        p.pravidla__paragraphs
          | 2. 
          strong Čistota. 
          | Snaž sa udržiavať čistotu,
          |                         nenos
          |                         si
          |                         jedlo ku strojom a používaj uterák.
        p.pravidla__paragraphs
          | 3. 
          strong Poriadok. 
          | V tomto si buďme
          |                         dospelý, každý
          |                         musí po sebe vrátiť závažia.
        p.pravidla__paragraphs
          | 4. 
          strong Osobná zóna. 
          | Snaž sa nezavadzať iným pri
          |                         cvičení. Tebe by tiež nebolo príjemné keby ti počas cvičenia niekto zavadzal.
        p.pravidla__paragraphs
          | 5. 
          strong Šetrenie. 
          | Ak si posledný v šatni zhasni
          |                         za
          |                         sebou svetlo a zatváraj dvere.
        p.pravidla__paragraphs
          | 6. 
          strong Poradenie. 
          | Ak sa niečo potrebuješ
          |                         opýtať,
          |                         neváhaj a obráť sa na našich trénerov.
        p.pravidla__paragraphs
          | 7. 
          strong Bezpečnosť. 
          | Vždy dbaj na svoje zdravie.
          |                         Aj
          |                         na
          |                         zdravie ostatných. Používaj veci vhodné na tréning vo fitnescentre.
        p.pravidla__paragraphs
          | 8. 
          strong Ohľaduplnosť. 
          | Toto nie je príležitosť si
          |                         pustiť svoje obľubené skladby nahlas. Preto vždy použi slúchadlá.
        p.pravidla__paragraphs
          | 9. 
          strong Hlučnosť. 
          | Nehádž činku o zem, pokiaľ to
          |                         nie
          |                         je
          |                         nutné. V hlučnom prostredí sa ťažko cvičí.
        p.pravidla__paragraphs
          | 10. 
          strong Dobrý pocit. 
          | Vypni hlavu, zahoď
          |                         starosti,
          |                         zažeň stres a bav sa pohybom ako my.