extends regionyBase

block content
  main
    h2.regiony__title Celosvetový výber
    p.regiony__paragraph Vyhľadaj fitko v tvojom meste!
    #map-continents
      ul.continents
        li.c1
          a(href='/regiony/afrika') Africa
        li.c2
          a(href='/regiony/azia') Asia
        li.c3
          a(href='/regiony/australia') Australia
        li.c4
          a(href='/regiony/europa') Europe
        li.c5
          a(href='/regiony/severna-amerika') North America
        li.c6
          a(href='/regiony/juzna-amerika') South America
