extends relaxBase

block content
  main
    h2.relax__title RELAX
    p.relax__paragraph
      | Najširšiu ponuku relax služieb nájdeš práve v Star Gym Relax. Príď si
      | zrelaxovať v
      | jacuzzi, vyskúšať 3
      | typy sáun, oddýchnuť si vo vírivke či zabudnúť na starosti pri masáži.
    section.relax
      .container-fluid.wellness
        .row.align-items-center.justify-content-center.wellness_row
          .col-12.col-md-6.col-lg-4.title
            h3.podsekcia__title.mb-4 Wellness
            .relax__pack
              p.relax__par.text-center.text-white
                | Vo wellness nájdete: 
                br
              ul.relax__list.text-white
                li.relax__el
                  | jacuzzi
                li.relax__el
                  | infra
                  | sauna
                li.relax__el
                  | fínska
                  | sauna
                li.relax__el
                  | parná
                  | sauna
                li.relax__el
                  | vírivka
                li.relax__el
                  | masáž
                  | so
                  | službami maséra
          .col-12.col-md-6.col-lg-4.pix.mx-auto.justify-content-center.d-flex
            img(src='/img/relax/wellness.jpg' alt='wellness_picture')
          .col-12.col-md-12.col-lg-4.rozpis
            table.tabulka
              thead
                tr
                  th
                    h2 Pondelok - Utorok
              tbody
                tr
                  td 6:00 - 22:00
                tr
                  th
                    h2 Sobota - Nedela
                tr
                  td 8:00 - 13:00
      .container-fluid.wellness.mt-3
        .row.align-items-center.justify-content-center
          .col-12.col-md-12.col-lg-4.title
            h3.podsekcia__title Sauna
            p.wellness__par.sauna__par.text-white.text-center.text-lg-left.align-self-center
              | V
              | našom saunovom svete
              | nájdete sauny rôznych
              | druhov určených
              | pre
              | príjemné,
              br
              |  luxusné i netradičné saunovanie.
          .col-12.col-md-6.col-lg-4.pix.mx-auto.justify-content-center.d-flex.wellness
            img(src='/img/relax/sauna.jpg' alt='wellness_picture')
          .col-12.col-md-6.col-lg-4.rozpis
            table.tabulka
              thead
                tr
                  th
                    h2 Pondelok - Utorok
              tbody
                tr
                  td 6:00 - 22:00
                tr
                  th
                    h2 Sobota - Nedela
                tr
                  td 8:00 - 13:00
      .container-fluid.wellness.mt-3
        .row.align-items-center.justify-content-center
          .col-12.col-md-12.col-lg-4.title
            h3.podsekcia__title Masáž
            p.wellness__par.masag__par.text-white.text-center.text-lg-left
              | Masáž je jedna z najviac
              | využívaných relaxačných
              | metód.
              | Klasická masáž
              | veľmi dobre pôsobí proti únave a stresu, ktorý denno denne pôsobí na každého z nás.
          .col-12.col-md-6.col-lg-4.pix.mx-auto.justify-content-center.d-flex
            img(src='/img/relax/massage.jpg' alt='wellness_picture')
          .col-12.col-md-6.col-lg-4.rozpis
            table.tabulka
              thead
                tr
                  th
                    h2 Pondelok - Utorok
              tbody
                tr
                  td 6:00 - 22:00
                tr
                  th
                    h2 Sobota - Nedela
                tr
                  td 8:00 - 13:00
