extends sportove-priestoryBase

block content
  main
    h2.sport__title Športové priestory
    p.sport__paragraph
      | V našich priestoroch nájdete viac, než len posilňovacie stroje. V priestoroch Star
      | Gym
      | Sport ponúkame viaceré miesta, kde si môžete zlepšiť formu.
    section.sport__grid
      .title.sport__content.sport__content--1
        h3.podsekcia__title Bazény
        p.black.sport__par.sauna__par.text-white
          | V Star
          | Gym Sport sa nachádza plavecký nerezový bazén. Jeden
          | vstup do bazéna je na 1,5 hodiny. Čas sa začína rátať
          | prechodom cez turniket.
      .sport__img.sport__img--1
        img(src='/img/sportArea/bazeny.jpg' alt='wellness_picture')
      .rozpis.sport__rozvrh.sport__rozvrh--1
        table.tabulka
          thead
            tr
              th
                h2 Utorok - Streda
          tbody
            tr
              td 10:00 - 13:00
            tr
              th
                h2 Sobota - Nedeľa
            tr
              td 12:00 - 13:00
      .rozpis.sport__rozvrh.sport__rozvrh--2
        table.tabulka
          thead
            tr
              th
                h2 Streda - Piatok
          tbody
            tr
              td 8:00 - 16:00
            tr
              th
                h2 Sobota - Nedeľa
            tr
              td 9:00 - 12:00
      .sport__img.sport__img--2
        img(src='/img/sportArea/ihriska.jpg' alt='wellness_picture')
      .title.sport__content.sport__content--2
        h3.podsekcia__title.multi
          | Vonkajšie
          br
          |  ihriská
        p.black.sport__par.sauna__par.text-white
          | V
          | našom športovom svete nájdete športové ihríská určené na:
          br
          | futbal, hádzanú a volejbal.
      .title.sport__content.sport__content--3
        h3.podsekcia__title.box
          | Boxerský
          br
          |  ring
        p.black.sport__par.sauna__par.text-white
          | Star
          | Gym Sport obsahuje aj špecialnú prevádzku ako je
          | box zóna s ringom.
      .sport__img.sport__img--3
        img(src='/img/sportArea/box.jpg' alt='wellness_picture')
      .rozpis.sport__rozvrh.sport__rozvrh--3
        table.tabulka
          thead
            tr
              th
                h2 Pondelok - Štvrtok
          tbody
            tr
              td 16:00 - 20:00
            tr
              th
                h2 Sobota - Nedeľa
            tr
              td 8:00 - 9:00
      .rozpis.sport__rozvrh.sport__rozvrh--4
        table.tabulka
          thead
            tr
              th
                h2 Utorok - Piatok
          tbody
            tr
              td 12:30 - 17:00
            tr
              th
                h2 Sobota - Nedeľa
            tr
              td 8:00 - 12:00
      .sport__img.sport__img--4
        img(src='/img/sportArea/basketbal.jpg' alt='wellness_picture')
      .title.sport__content.sport__content--4
        h3.podsekcia__title Basketbal
        p.black.sport__par.sauna__par.text-white
          | Vo
          | vonkajších priestoroch nájdete aj basketbalové ihrisko,
          | ktoré možete za vhodného počasia voľne využívať.
      .title.sport__content.sport__content--5
        h3.podsekcia__title Tenis
        p.black.sport__par.sauna__par.text-white
          | Star
          | Gym Sport ponúka aj tenisové kurty
          | s
          | možnosťou ich prenájmu aj bez vlastnenia permamentky.
      .sport__img.sport__img--5
        img(src='/img/sportArea/tenis.jpg' alt='wellness_picture')
      .rozpis.sport__rozvrh.sport__rozvrh--5
        table.tabulka
          thead
            tr
              th
                h2 Pondelok - Utorok
          tbody
            tr
              td 16:00 - 20:00
            tr
              th
                h2 Sobota - Nedeľa
            tr
              td 8:00 - 10:00
