extends treneriBASE

block content
  main
    h1 Tréneri
    .container-fluid
      .row.justify-content-center.d-flex
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer8.jpg' alt='Atul Prajapati')
              h2 Juraj Mucka
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer9.png' alt='Atul Prajapati')
              h2 Róbert Sakovský
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer3.jpg' alt='Atul Prajapati')
              h2 Marek Machuliak
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer4.jpg' alt='Atul Prajapati')
              h2 Denis Hlavák
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
      .row.justify-content-center.d-flex
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer10.jpg' alt='Atul Prajapati')
              h2 Štefan Hollý
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer6.jpg' alt='Atul Prajapati')
              h2 Martina Pauffová
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trener10.jpg' alt='Atul Prajapati')
              h2 Laura Olková
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter
        .col.col-md-6.col-xl-3.mb-5
          .image-area
            .img-wrapper
              img(src='/img/treneri/trainer11.jpg' alt='Atul Prajapati')
              h2 Jakub Orebovský
              ul
                li
                  a(href='#')
                    i.fab.fa-instagram
                li
                  a(href='#')
                    i.fab.fa-twitter

